@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #555555;
  background-image: linear-gradient(to right, #c8d3d5, #a0d0ca);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul,
li,
a {
  text-decoration: none;
  list-style: none;
  padding: 0;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

* {
  box-sizing: border-box;
}
